nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 1vw;
  background-color: #d2982f;
  background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
  color: #ffffff;
  padding: 0 1.5em;
  width: 100%;
  text-align: center;
  position: fixed;
}

nav span {
  font-family: "Bungee", sans-serif;
}

i.fa-angles-down {
  color: #d5690a;
}

i.fa-angles-down:hover {
  transform: translateY(0);
  animation: bounce 0.5s infinite alternate;
  cursor: pointer;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}

.hov-lift:hover {
  font-size: larger;
  box-shadow: 0px 0px 12px darkgrey;
}

.nav-new-tweet {
  font-size: 0.8em;
}

@media only screen and (min-width: 768px) {
  nav {
    background-image: none;
    background-color: #4056a1;
  }
}
