.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 60%;
  margin: 2em 0;
}
.form-footer {
  display: flex;
  justify-content: space-between;
}

#tweet-text {
  width: 100%;
  height: 60px;
  margin: 0.5em 0;
  border: none;
  border-bottom: 2px solid black;
  background: transparent;
  outline: none;
  resize: none;
  overflow: hidden;
}

#tweet-text:focus {
  border-bottom: 2px solid #d5690a;
}

.form-footer {
  font-family: "Bungee", san-serif;
  font-weight: bold;
}

.tweet-button {
  background-color: #4056a1;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 7px;
}

.tweet-button:hover {
  background-color: #d5690a;
}
