section.tweets-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

article.tweets {
  border: solid 2px black;
  border-radius: 7px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin: 2em;
  padding-top: 0.5em;
}

article.tweets:hover {
  box-shadow: 3px 3px 12px darkgrey;
}

article.tweets header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  color: black;
  align-items: center;
}

.user {
  display: flex;
  align-items: center;
  width:auto;
}

.avt {
  margin-right: 0.5em;
  width:1.75em;
  height:auto;
}

article.tweets footer {
  display: flex;
  justify-content: space-between;
  border-top: solid 2px black;
  padding-top: 0.5em;
  font-size: medium;
}

.user-handle {
  color: darkgrey;
  font-weight: 550;
 font-size: large;
}

p.tweets {
  word-wrap: normal;
}

.actions {
  display: flex;
  color: #4056a1;
  gap: 0.8em;
  font-size: medium;
}
.actions i:hover {
  color: #d2982f;
}

.actions:hover {
  cursor: pointer;
}
